<div class="tarjetas">
    <div *ngFor="let personaje of personajes" class="tarjeta">
      <img [src]="personaje.image" alt="{{ personaje.name }}" />
      <div class="contenido">
        <h2>{{ personaje.name }}</h2>
        <p><strong>Raza:</strong> {{ personaje.race }}</p>
        <p><strong>Género:</strong> {{ personaje.gender }}</p>
        <p><strong>Ki:</strong> {{ personaje.ki }}</p>
        <p><strong>MaxKi:</strong> {{ personaje.maxKi }}</p>
        <p>{{ personaje.description }}</p>
        <button [routerLink]="['/transformaciones']">Transformaciones</button>
        <button [routerLink]="['/planetas']">Origen</button>
      </div>
    </div>
  </div>
  