.tarjetas {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
  }

  .tarjeta {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 16px;
    background-color: #d6d5d5;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 80%;
    padding: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  .tarjeta img {
    width: 150px;
    height: auto;
    border-radius: 8px;
  }

  .tarjeta .contenido {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .tarjeta h2 {
    margin-top: 0;
    font-size: 28px;
    color: #333;
  }

  .tarjeta p {
    margin: 4px 0;
    font-size: 18px;
    color: #252323;
  }

  button {
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  text-transform: uppercase;
  }

  .tarjeta .contenido button {
  margin-top: 8px;
  }
